<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
		@* <link href="~/css/imports/essentials.css" rel="stylesheet" type="text/css" /> *@
		<link href="~/css/imports/layout.css" rel="stylesheet" type="text/css" />

        @* <link href="~/css/imports/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" /> *@


		<!-- PAGE LEVEL SCRIPTS -->
		<link href="~/css/imports/header-1.css" rel="stylesheet" type="text/css" />
		<link href="~/css/imports/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="rocket-logo" >
                        <img src="~/images/R2.png"  id="rocket-nav-logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">privacyIntervention</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CustomerPortal - 
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>var plugin_path = '~/js/imports/plugins/';</script>
	@* <script src="~js/imports/plugins/jquery/jquery-3.3.1.min.js"></script> *@

	@* <script src="~/js/imports/scripts.js"></script> *@
    @* <script src="~/js/imports/bootstrap/bootstrap.bundle.min.js"></script>  *@
	

    @RenderSection("Scripts", required: false)
</body>
</html>
